/* General Styles */
* {
    background-color: #4a5568;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Container */
.main-body {
    background-color: #4a5568; /* Gray-700 */
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.header {
    padding: 1rem;
    margin-top: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    font-size: 3rem; 
    font-weight: 800;
    color: #63b3ed; 
    text-align: center;
    padding: 0 1rem;
    
}

/* Flex Layout for Side Menu and Main Content */
.main-body-content {
    display: flex;
    flex-wrap: nowrap;
}

.sidefoot {
    width: 350px;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}

.photo-container {
    display: flex;
    justify-content: center;
}

.photo {
    width: 200px;
    border-radius: 40%;
}

.contact-icons {
    margin-top: 1rem;
    text-align: center;
}

.icon-link {
    color: white;
    margin-right: 1rem;
}

/* Main Content */
.main-content {
    margin-left: 350px;
    padding: 1.25rem;
    margin-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* About Me Text */
.about-me-text {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 70rem; 
    padding: 0 1rem;
}

.main-titels {
    font-size: 2rem;
    color: #63b3ed;
    main-top: 1rem;
    width: 100%
}

.section-title {
    font-size: 1.5rem; 
    color: #63b3ed;
    margin-top: 2rem;
    border: none;
    width: 100%;
}

.list {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 70rem; 
    margin: 0 auto; 
    padding: 0 1rem;
}

#githubProjectsTitle {
    margin-top: 2rem
    
}

/* Repo-list */
.repo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 3rem;
    padding-top: 1rem;
    margin: 0 auto;
}

.repo-card {
    background-color: #2d2d2d;
    border: 2px solid #63b3ed;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 250px
    
    
}


.repo-name {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #2d2d2d;
    
}

.repo-name:hover {
    color: #00bfff;
    text-shadow: none;
}

/* Sidebar Hover Effects */
.sidebar .list-group-item.active {
    background-color: #63b3ed;
    border-color: #63b3ed;
    color:  #4a5568;
}

.sidebar .list-group-item:hover {
    background-color: black;
    color: #63b3ed;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .main-body-content {
        flex-direction: column; /* Stack content and sidefoot vertically */
    }

    .sidefoot {
        width: 100%;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    header {
        margin-left: 0;
    }

    .header-title {
        font-size: 1.5rem; /* Smaller title on smaller screens */
    }
}

/* Adjust layout for medium screens (1030px to 1700px) */
@media (min-width: 1030px) and (max-width: 1700px) {
    .sidefoot {
        position: fixed;
        left: 0;
        width: 350px; /* Keep sidebar width fixed */
    }

    .main-content {
        margin-left: 350px; /* Add left margin to avoid content being covered */
        padding: 1.25rem;
    }

    .header {
        margin-left: 350px; /* Ensure header isn't covered by the sidebar */
    }
}

/* Larger screens (above 1700px) */
@media (min-width: 1700px) {
    .sidefoot {
        position: fixed;
        left: 0;
        width: 350px; /* Fixed sidebar */
    }

    .main-content {
        margin-left: 350px; /* Add left margin for larger screens */
        padding: 1.25rem;
    }

    .header {
        margin-left: 350px; /* Ensure header stays on the right */
    }
}

