.pictureContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.MainPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcomeBox {
    position: absolute;

    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    background: #B15DCD;
    color: black;

    padding: 1em 1.5em;
    border-radius: 20px;
    max-width: 420px;

    opacity: 85%;

    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

